/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/carousal/styles.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.styles_scroll-animation__j7mge {
  animation: styles_slideLeft__BIdMV 10s linear infinite; /* Adjust the duration (10s) as needed */
}

@keyframes styles_slideLeft__BIdMV {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-19%);
  }

  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(19%);
  }
  100% {
    transform: translateX(0);
  }
}

